body {
	background-color: #a5efff;
}

h1 {
	font-family: sans-serif;
	text-align: center;
}

.chimenea {
	height: 60px;
	width: 100%;
	float: left;
}

.chimeneita {
	background: #bf6c05;
	height: 60px;
	margin-right: 80%;
	margin-left: 10%;
}

.container {
	position: absolute;
	bottom: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
}

.row {

}

.bloque {
	height: 20vw;
	width: 20vw;
	background-color: orange;
	float: left;
}

.ventana {
    height: 25%;
    width: 40%;
    margin-left: 7%;
    margin-bottom: 7%;
    float: left;
    background-color: white;

}

.pasto {
	background-color: green;
	height: 20px;
	bottom: 0px;
	width: 100%;
	position: absolute;
}


.col-2{

	width: 70%;
	height: 100%;	
	margin-left: 15%;

}

.up{
	margin-top: 40%;
}
