body {
	background-color: #a5efff;
}

h1 {
	font-family: sans-serif;
	text-align: center;
}

.chimenea {
	height: 60px;
	width: 100%;
	float: left;
	position: relative;
}

.chimeneita {
	background: #bf6c05;
	height: 5vw;
	margin-right: 80%;
	margin-left: 10%;
}

.container {
	position: absolute;
	bottom: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
}

.bloque {
	height: 20vw;
	width: 20vw;
	background-color: orange;
	float: left;
}

.ventana {
    height: 25%;
    width: 40%;
    margin-left: 7%;
    margin-bottom: 7%;
    float: left;
    background-color: white;

}

.pasto {
	background-color: green;
	height: 20px;
	bottom: 0px;
	width: 100%;
	position: absolute;
}

.col-2 {
	width: 70%;
	height: 100%;	
	margin-left: 15%;
}

.up {
	margin-top: 40%;
}

@media (max-width: 600px) {
	
	.container {
		position: relative;
	}

	.bloque {
		width: 50vw;
		height: 50vw;
		margin-left: 15vw;
		margin-right: 20vw;
		position: relative;
	}

	.pasto {
		position: absolute;
		height: 20px;
		width: 100%;
		bottom: -1089px;
	}

	.chimeneita {
		top: 20px;
		height: 10vw;
		margin-right: 55%;
		margin-left: 25%;
		position: relative;
	}

}








